.section2 {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 4%;
  color: #333333;
  font-size: medium;
  line-height: 25px;
}

.section2Container {
  display: flex;
}
.section2ContainerMobile {
}

.section2DetailsMain {
  min-width: 70%;
}

.section2Details {
  color: gray;
  font-size: medium;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  text-align: start;
  grid-auto-rows: 100%;
  line-height: 25px;
}

.section2DetailsEur {
  min-width: 100px;
  text-align: center;
}

.section2DetailsPakkuja {
  min-width: 100px;
  text-align: center;
}

.section2Image {
  width: 70%;
}

.section2Help {
}
