.section3 {
  /*background-repeat: repeat-y;*/
  background-image: url("../../images/middle.png");
  background-size: auto 100vh;
  padding: 5% 10% 5% 10%;

  color: white;
  font-size: medium;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  text-align: start;
  grid-auto-rows: 100%;
  line-height: 25px;
}

.section3Mobile {
  background-repeat: repeat-y;
  background-image: url("../../images/mobile-mid.png");
  background-size: 100vw auto;
  padding: 5% 5% 5% 5%;

  color: white;
  font-size: medium;
  text-align: start;
  line-height: 25px;
}
