.textLarge {
  /*color: #333333;*/
  font-size: large;
  font-weight: bold;
}

.textLarger {
  /*color: #333333;*/
  font-size: x-large;
  font-weight: bold;
}

.textLargerOrange {
  color: orangered;
  font-size: x-large;
  font-weight: bold;
}

.textMediumGray {
  color: gray;
  font-size: medium;
  font-weight: bold;
}
