.textLarge {
  font-size: large;
  font-weight: bold;
}

.textLarger {
  font-size: x-large;
  font-weight: bold;
}

.textLargerOrange {
  color: orangered;
  font-size: x-large;
  font-weight: bold;
}

.textMediumGray {
  color: gray;
  font-size: medium;
  font-weight: bold;
}
